---
title: Promitheas BC
description: |
  Experience inclusive badminton at Promitheas Badminton Club in Paphos, Cyprus. Enjoy recreational play and junior training. Whether you're a beginner or a seasoned player, find your place in our welcoming community. Contact us for a trial session or more information!
tags: published
---

{% from 'card.njk' import card %}

<div class="card-grid">
{% for item in collections.spotlight | published | reverse %}
    {{card(
    item.data.title,
    podcast=item.data.podcast,
    content=item.data.description,
    href=item.url,
    lang=item.data.lang,
    lang_dir=item.data.lang_dir,
    location=item.data.location,
    image=item.data.image
  )}}
{% endfor %}
</div>

<h2>Updates</h2>

<div class="card-grid">
{% for item in collections.feed_item | published | reverse | head(20) %}

  {{card(
    item.data.title,
    podcast=item.data.podcast,
    content=item.data.description,
    href=item.url,
    lang=item.data.lang,
    lang_dir=item.data.lang_dir,
    location=item.data.location,
    date=item.date,
    image=item.data.image
  )}}

{% endfor %}
</div>
