{% macro ranking(ladder) %}
<ol>
  {% if ladder and ladder.length > 0 %}
    {% for entry in ladder %}
      {% if entry.addHr %}
        <h3>Level {{ entry.level }}</h3>
      {% endif %}
      <li>
        {{ entry.name }}
        {% if entry.isFirst %}<span class="medal">🥇</span>{% endif %}
        {% if entry.isSecond %}<span class="medal">🥈</span>{% endif %}
        {% if entry.isThird %}<span class="medal">🥉</span>{% endif %}
      </li>
    {% endfor %}
  {% else %}
    <p>No ladder entries available.</p>
  {% endif %}
</ol>
{% endmacro %}

{% macro matches(games, spreadsheet_url) %}

{% markdown %}
Click magnifier to view match in the spreadsheet.
{% endmarkdown %}

<figure>
  <table tabindex="0">
    <thead>
      <th 
        title="View match in spreadsheet"
        aria-label="View match in spreadsheet"
      ></th>
      <th>Challenger</th>
      <th>Challenged</th>
      <th>Results</th>
      <th>Date</th>
    </thead>
    <tbody>
    {% for game in games | reverse %}
      <tr>
        <td>
          <a 
            target="_blank"
            href="{{spreadsheet_url}}&range={{game.Row}}:{{game.Row}}"
            title="View match in spreadsheet"
          >
            🔍
          </a>
        </td>
        <td>
        {{game.Challenger}} 
        </td>

        <td>
        {{game.Challenged}}
        </td>

        <td>
        {% for result in game.Results %}
          <span>{{result[0]}}-{{result[1]}}</span>
        {% endfor %}
        </td>

        <td>
        {{game.Timestamp | datetime}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</figure>

{% endmacro %}

