{% extends 'layout.njk' %}

{% block menu %}
<ul>
  <li><a {{currentPage("/en/kids")}}>Kids 🏸</a></li>
  <li><a {{currentPageExact("/en/")}}>Adults</a></li>
  <li><a {{currentPage("/competition")}}>Competition</a></li>
  <li><a {{currentPage("/en/faq")}}>FAQ</a></li>
</ul>
{% endblock %}

