{% extends 'layout.njk' %}

{% block menu %}
<ul>
  <li><a {{currentPage("/ru/kids")}}>Дети 🏸</a></li>
  <li><a {{currentPageExact("/ru/")}}>Взрослые</a></li>
  <li><a {{currentPage("/competition")}}>Соревнования</a></li>
</ul>
{% endblock %}

